<!--
Slides for an Appsterdam Guru Session on Google App Engine.
The template has been customized to match the identify of 
Appsterdam (http://appsterdam.rs)

Alessandro Bahgat <me@abahgat.com>

Original slides code and templates:

Google IO 2012/2013 HTML5 Slide Template

Authors: Eric Bidelman <ebidel@gmail.com>
         Luke Mahé <lukem@google.com>

URL: https://code.google.com/p/io-2012-slides
-->
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <!--This one seems to work all the time, but really small on ipad-->
  <!--<meta name="viewport" content="initial-scale=0.4">-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="theme/css/default.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="theme/css/phone.css">
  <base target="_blank"> <!-- This amazingness opens all links in a new tab. -->
  <script data-main="js/slides" src="js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

  <slide class="logoslide nobackground">
    <article class="flexbox vcenter">
      <span><img src="images/appsterdamlogo.png"></span>
    </article>
  </slide>

  <slide class="title-slide segue nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <!-- The content of this hgroup is replaced programmatically through the slide_config.json. -->
    <hgroup class="auto-fadein">
      <h1 data-config-title><!-- populated from slide_config.json --></h1>
      <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
      <p data-config-presenter><!-- populated from slide_config.json --></p>
    </hgroup>
  </slide>

  <slide class="quote">
    <hgroup>
      <h2>What is Google App Engine?</h2>
    </hgroup>
    <article class="smaller flexbox vleft auto-fadein">
      <q class="gray3">Google App Engine is a <b>complete development stack</b> that uses <span class="blue">familiar technologies</span> to <span class="green">build and host applications</span> on the same <span class="red">infrastructure</span> used at Google.</q>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Four runtime environments</h2>
    </hgroup>
    <article class="languages">
      <div class="columns-2">
        <div class="centered"><img src="images/languages/python.png"><br><p>Python</p></div>
        <div class="centered"><img src="images/languages/java.png"><br><p>Java</p></div>
        <div class="centered"><img src="images/languages/go.png"><br><p>Go</p></div>
        <div class="centered"><img src="images/languages/php.png"><br><p>PHP</p></div>
      </div>
    </article>  
  </slide>

  <slide hidden>
    <hgroup>
      <h2>What is Google App Engine?</h2>
    </hgroup>
    <article>
      <p>Google App Engine is a complete development stack that uses familiar technologies to build and host applications on the same infrastructure used at Google.</p>
      <ul class="build">
        <li>Supports Python, Java, Go and PHP</li>
        <li>Local SDK allows fast iteration, testing and deployment</li>
        <li>No need to worry about <i>servers</i> and <i>instances</i></li>
        <li>Offers built-in automatic scaling</li>
        <li>Pay only what you use, with generous free quotas</li>
      </ul>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/visuals/sandbox.png)">
    <hgroup>
      <h2 class="white">Your code runs in a sandbox</h2>
    </hgroup>
    <footer class="source white">http://www.flickr.com/photos/damongman/5623130732/</footer>
  </slide>

  <slide>
    <hgroup>
      <h2>The Sandbox</h2>
    </hgroup>
    <article>
      <p>Secure environment that provides limited access to the underlying operating system.</p>
      <p>The sandbox allows App Engine to</p>
      <ul>
        <li>distribute web requests across multiple servers</li>
        <li>start and stop servers to meet traffic demands</li>
        <li>isolate apps in a secure, reliable environment</li>
        <li>abstract hardware, operating system and physical location of the web server</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Sandbox limitations</h2>
    </hgroup>
    <article>
      <ul>
        <li><b>outbound connections</b>: only through the provided URL fetch and email services or the experimental <a href="https://developers.google.com/appengine/docs/python/sockets/">Socket API</a>.</li>
        <li><b>inbound connections</b>: only HTTP(s) on ports 80/443.</li>
        <li><b>filesystem access</b>: writing files is not allowed. An application can read only files uploaded with the application code.</li>
        <li><b>no native code</b>: libraries that depend on native code are generally not available.</li>
        <li><b>time limits</b>: app code must terminate within given time limits. (60s for web requests, 10m for tasks but unlimited time for backend jobs)</li>
      </ul>
    </article>
  </slide>

  <slide hidden>
    <hgroup>
      <h2>Shopping list of features</h2>
    </hgroup>
    <article>
      <ul>
        <li>dynamic web serving, with full support for common web technologies</li>
        <li>persistent storage with queries, sorting and transactions</li>
        <li>automatic scaling and load balancing</li>
        <li>APIs for authenticating users and sending email using Google Accounts</li>
        <li>a fully featured local development environment that simulates Google App Engine on your computer</li>
        <li>task queues for performing work outside of the scope of a web request</li>
        <li>scheduled tasks for triggering events at specified times and regular intervals</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Storing data</h2>
    </hgroup>
    <article>
      <p>Three options for data storage</p>
      <div class="columns-3">
        <div class="centered"><img src="images/products/appengine.png"></div>
        <p>
          <b>App Engine Datastore</b> a NoSQL schemaless data storage built in GAE
        </p>
        <div class="centered"><img src="images/products/sql.png"></div>
        <p>
          <b><a href="http://developers.google.com/cloud-sql/">Google Cloud SQL</a></b> a relational SQL database service based on MySQL
        </p>
        <div class="centered"><img src="images/products/storage.png"></div>
        <p>
          <b><a href="http://developers.google.com/storage/">Google Cloud Storage</a></b>  file based storage
        </p>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/visuals/bill.jpg)">
    <hgroup>
      <h2 class="white">No fixed costs: pay only for what you use...</h2>
    </hgroup>
    <footer class="source white">http://www.flickr.com/photos/jasonalley/5039425430</footer>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/visuals/free.jpg)">
    <hgroup>
      <h2 class="white">...with generous free quotas</h2>
    </hgroup>
    <footer class="source white">http://www.flickr.com/photos/toddle_email_newsletters/7002322316</footer>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Getting app &amp; running</h2>
      <h3>See it in action</h3>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Download the SDK</h2>
    </hgroup>
    <article>
      <p>Go to <a href="https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Python">https://developers.google.com/appengine/downloads</a> and grab the Python installer.</p>

      <p class="centered"><a href="https://developers.google.com/appengine/downloads#Google_App_Engine_SDK_for_Python"><img src="images/screenshots/python-downloads.png" class="reflect" alt="App Engine Python Downloads"></a></p>

      <p class="gray3">You should also have Python by now, but in case you do not, grab it from <a href="http://python.org/download/releases/2.7.5/">here</a>. (Your platform might offer smarter ways to install it.)</p>
      
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Start up the launcher</h2>
    </hgroup>
    <article class="centered">
      <img src="images/screenshots/launcher.png" class="reflect" alt="App Engine Launcher Screenshot">
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Create a sample application</h2>
    </hgroup>
    <article class="centered">
      <img src="images/screenshots/launcher-new-app.png" class="reflect" alt="Creating a new app with the Launcher">
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/visuals/run.jpg)">
    <hgroup>
      <h2>Run!</h2>
    </hgroup>
    <footer class="source black">http://www.flickr.com/photos/nihonbunka/46324600</footer>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Let's dive into code</h2>
      <h3>Basics of the Python Runtime</h3>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Application Configuration</h2>
    </hgroup>
    <article>
      <p>All <a href="https://developers.google.com/appengine/docs/python/config/appconfig">configuration settings</a> are stored in a file called <code>app.yml</code></p>
<pre class="prettyprint" data-lang="yaml">application: example
version: 1
runtime: python27
api_version: 1
threadsafe: yes

<b>handlers:
- url: .*
  script: main.app</b>

<b>libraries:</b>
- name: webapp2
  version: "2.5.2"</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>A self sufficient web application</h2>
    </hgroup>
    <article>
      <p>App Engine supports <a href="http://webapp-improved.appspot.com/">webapp2</a> by default:</p>
<pre class="prettyprint" data-lang="python">import webapp2

class MainHandler(<b>webapp2.RequestHandler</b>):
  <b>def get(self):</b>
    name = <b>self.request.get('name')</b>
    <b>self.response.write</b>('Hello %s!' % name)

app = webapp2.WSGIApplication([
    <b>('/', MainHandler)</b>
], debug=True)</pre>
      <p>In addition to webapp2, the environment includes <a href="http://webob.org/">WebOb</a> and <a href="https://developers.google.com/appengine/docs/python/tools/libraries27#django">Django</a>.</p>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>View templates</h2>
    </hgroup>
    <article>
      <p>If you use webapp2, <a href="http://webapp-improved.appspot.com/tutorials/gettingstarted/templates.html#using-django-templates">Django templates</a> are supported by default.</p>
      <pre class="prettyprint" data-lang="html">&lt;html&gt;
  &lt;body&gt;
    <b>{% for greeting in greetings %}</b>
      <b>{% if greeting.author %}</b>
        &lt;b&gt;<b>{{ greeting.author.nickname }}</b>&lt;/b&gt; wrote:
      <b>{% else %}</b>
        An anonymous person wrote:
      <b>{% endif %}</b>
      &lt;blockquote&gt;<b>{{ greeting.content|escape }}</b>&lt;/blockquote&gt;
    <b>{% endfor %}</b>

    &lt;a href="<b>{{ url }}</b>"&gt;<b>{{ url_linktext }}</b>&lt;/a&gt;
  &lt;/body&gt;
&lt;/html&gt;</pre>
      <p>Alternatively, App Engine ships with <a href="http://jinja.pocoo.org/docs/">jinja2</a>, too.</p>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Datastore(s)</h2>
    </hgroup>
    <article>
      <ul>
        <li>There are two implementations of datastore</li>
        <li>The original one is implemented in <code>google.appengine.ext.db</code></li>
        <li>The new one is called <a href="https://developers.google.com/appengine/docs/python/ndb/">NDB</a> and it is implemented in <code>google.appengine.ext.ndb</code></li>
        <li>They are very similar but not identical</li>
        <li>We will cover <b>NDB</b></li>
      </ul>
        
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Datastore</h2>
    </hgroup>
    <article>
      <p>Creating an entity type is as easy as creating a Python class.</p>
<pre class="prettyprint" data-lang="python">from google.appengine.ext import ndb

class Contact(<b>ndb.Model</b>):
  name = <b>ndb.StringProperty()</b>
  email = ndb.StringProperty()
  birth_date = <b>ndb.DateProperty()</b></pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Querying the Datastore</h2>
    </hgroup>
    <article>
      <p>The Datastore API is Object Oriented.</p>
<pre class="prettyprint" data-lang="python">from google.appengine.ext import ndb

def StoresByCity(city, limit):
  <b>query = Store.query(Store.city == city).order(Store.name)</b>
  return <b>query.fetch(limit, projection=[Store.name, Store.address])</b></pre>
    </article>
    <ul>
      <li>Queries are objects</li>
      <li>Filters and projections are specified by calling methods</li>
      <li>Make sure you know the limits! (Read the <a href="https://developers.google.com/appengine/docs/python/ndb/queries">docs</a>)</li>
    </ul>
  </slide>

  <slide>
    <hgroup>
      <h2>Querying the Datastore with GQL</h2>
    </hgroup>
    <article>
      <p>You can write queries with GQL, a SQL-like language.</p>
<pre class="prettyprint" data-lang="python">from google.appengine.ext import ndb

qry = ndb.gql(<b>"SELECT * FROM Account WHERE balance < :1"</b>, 100)</pre>
      <p>GQL is translated to NDB's native query API. <span class="red3">(This is the opposite of what traditional ORM libraries do!)</span></p>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Memcache</h2>
    </hgroup>
    <article>
      <p>Memcache is a high-performance, distributed memory object caching system.</p>
      <pre class="prettyprint" data-lang="python">from google.appengine.api import memcache

def get_data():
  data = <b>memcache.get('key')</b>
  if data is not None:
    return data
  else:
    data = self.query_for_data()
    <b>memcache.add('key', data, 60)</b>
    return data</pre>
      <p>Can be used to minimize hits to the Datastore or to save transient state information.</p>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Hands-on exercises</h2>
      <h3>You will have to do some work now ;)</h3>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Preparation</h2>
    </hgroup>
    <article>
      <ul>
        <li>Download the boilerplate code from <a href="">here</a></li>
        <li>Uncompress it</li>
        <li>Open it up in a text editor/IDE you are familiar with</li>
        <li>Take some time to familiarize with it</li>
      </ul>
    </article>
  </slide>

  <slide class="segue red nobackground">
    <hgroup>
      <h2>Exercise 1</h2>
      <h3>(Quasi) Real Time Communication</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide class="nobackground">
    <hgroup>
      <h2>Implement a backend for the page below</h2>
    </hgroup>
    <article>
      <div class="vcenter center">
        <img src="images/screenshots/channel-demo.png" alt="Channel Demo Screenshot">
      </div>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Your mission</h2>
    </hgroup>
    <article>
      <ul>
        <li>Use the channel API to show the cursor position of every visitor's mouse.</li>
        <li>Update the cursor position whenever users move their mouse.</li>
        <li>Remove cursor icons when visitors leave the page.</li>
        <li>Complete the code in the <code>channel</code> directory of the package you downloaded earlier and implement the missing methods.</li>
        <li>Point your browser to <code>http://localhost:$APP_PORT/channel</code> to test your server.</li>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Channel API</h2>
    </hgroup>
    <article>
      <p>A channel connects two ends:</p>
      <ul>
        <li>A <b>client</b>, which
          <ul>
            <li>connects to a channel,</li>
            <li>listen for updates,</li>
            <li>sends messages to the server.</li>
          </ul>
        </li>
        <li>A <b>server</b>, which
          <ul>
            <li>maintains a registry of open channels,</li>
            <li>notifies clients of state changes.</li>
          </ul>
        </li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>The role of the Server</h2>
    </hgroup>
    <article>
      <ul>
        <li>The server needs to keep track of the connected clients,</li>
        <li>you can keep that information in memcache but</li>
        <li>for this example, it is necessary to be notified of connections and disconnections.</li>
      </ul>

      <p>There is a service for that! Enable presence in your <code>app.yaml</code></p>
      <pre class="prettyprint" data-lang="yaml">inbound_services:
- channel_presence</pre>
      <p>and implement two handlers that can respond to <code>POST</code> at</p>
      <ul>
        <li><code class="green">/_ah/channel/connected/</code></li>
        <li><code class="green">/_ah/channel/disconnected/</code></li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Creating a Channel</h2>
    </hgroup>
    <article>
      <p>Requires action on both ends. The server sends a token to the client:</p>

      <pre class="prettyprint" data-lang="python">def get(self):
  client_id = uuid.uuid4().hex
  token = <b>channel.create_channel(client_id)</b>
  template_values = {'client': client_id, 'token': token}
  self._render_template(template_values)</pre>
      <p>The client uses the token to create a channel</p>
      <pre class="prettyprint" data-lang="javascript">var client = "{{ client }}";
<b>var channel = new goog.appengine.Channel('{{ token }}')</b>;
function setUpChannel() {
  <b>var socket = channel.open()</b>;
  <b>socket.onmessage = onMessage</b>;
}</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Using the Channel</h2>
    </hgroup>
    <article>
      <p>The client can <b>only read</b> messages from the client.</p>

      <pre class="prettyprint" data-lang="javascript">function onMessage(message) {
  data = $.parseJSON(message.data);
  /* do something with data */
}</pre>
      <p>It can send data to the server via HTTP requests:</p>
      <pre class="prettyprint" data-lang="javascript">function sendCoordinates() {
  <bb>$.post('/channel', {
    x: current_x,
    y: current_y,
    client: client
  });</b>
}</pre>
    </article>
  </slide>

  <slide class="segue red nobackground">
    <hgroup>
      <h2>Exercise 2</h2>
      <h3>Building an API Backend</h3>
    </hgroup>
    <article>
    </article>
  </slide>

  <slide class="nobackground">
    <hgroup>
      <h2>Implement a backend for the page below</h2>
    </hgroup>
    <article>
      <div class="vcenter center">
        <img src="images/screenshots/endpoints-demo.png" alt="Cloud Endpoints Demo Screenshot">
      </div>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Your mission</h2>
    </hgroup>
    <article>
      <ul>
        <li>Complete the code in the <code>endpoints</code> directory of the package you downloaded earlier and implement the missing methods.</li>
        <li>Point your browser to <code>http://localhost:$APP_PORT/endpoints</code> to test your server.</li>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Google Cloud Endpoints <span class="red">(experimental)</span></h2>
    </hgroup>
    <article>
      <p><a href="https://developers.google.com/appengine/docs/python/endpoints/">Google Cloud Endpoints</a> consists of tools, libraries and capabilities that allow you to generate APIs and client libraries from an App Engine application.</p>
      <div class="vcenter">
        <img src="images/visuals/endpoints.png" alt="Google Cloud Endpoints diagram">
      </div>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Create a service</h2>
    </hgroup>
    <article>
      <p>Annotate the API implementation class with the <a href="https://developers.google.com/appengine/docs/python/endpoints/create_api">endpoints decorators</a>,</p>
      <pre class="prettyprint" data-lang="python"><b>@endpoints.api(name='myapi', version='v1', description='My New API')</b>
class MyNewApi(<b>remote.Service</b>):
  ...</pre>
      <p>create an API server instance,</p>
      <pre class="prettyprint" data-lang="python">application = <b>endpoints.api_server([MyNewApi], restricted=False)</b></pre>
      <p>and map the instance to the API URL</p>
      <pre class="prettyprint" data-lang="yaml">handlers:
# Endpoints handler
- url: <b>/_ah/spi/.*</b>
  script: <b>services.application</b></pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Define the API methods</h2>
    </hgroup>
    <article>
      <p>Annotate methods with </p>
      <pre class="prettyprint" data-lang="python"><b>@endpoints.method(RequestMessageClass,
                  ResponseMessageClass,
                  name='foo.bar',
                  path='/bar',
                  http_method='GET', ...)</b>
def bar(self, request):
  ...</pre>
      <ul>
        <li><code>RequestMessageClass</code> and <code>ResponseMessageClass</code> are <a href="https://developers.google.com/appengine/docs/python/tools/protorpc/">ProtoRPC</a> definitions of the request and response classes,</li>
        <li><code>path</code> is the URL path of the endpoint,</li>
        <li><code>http_method</code> allows to map different functions to different HTTP methods</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Some closing notes on Endpoints</h2>
    </hgroup>
    <article>
      <ul>
        <li>Apps that use Cloud Endpoints expose discovery services at <code class="green">https://your_app_id.appspot.com/_ah/api/discovery/v1/apis</code></li>
        <li>You can also use the APIs Explorer to experiment with your API by visiting <code class="green">https://your_app_id.appspot.com/_ah/api/explorer</code></li>
        <li>You can use the SDK to generate JavaScript, Android and iOS clients for your service,</li>
        <li>Endpoints can authenticate clients using <a href="https://developers.google.com/appengine/docs/python/endpoints/auth">OAuth 2.0</a>,</li>
        <li>If you want to build a REST API, check out <a href="http://endpoints-proto-datastore.appspot.com/">Endpoints Proto Datastore</a>,</li>
        <li>and if you work with Android applications, check out the <a href="https://developers.google.com/cloud/samples/mbs/">Mobile Backend Starter</a>.</li>
      </ul>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>There's more</h2>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>A few more advanced APIs</h2>
    </hgroup>
    <article>
      <ul>
        <li><b><a href="https://developers.google.com/appengine/docs/python/xmpp/">XMPP</a></b> &ndash; Integrate your app with Google Talk and Instant Message Clients.</li>
        <li><b><a href="https://developers.google.com/appengine/docs/python/search/">Search</a> <span class="red">(experimental)</span></b> &ndash; Build indexes for fast search over sets of document (which can be any object your app manipulates. Supports full text search and distance-based geographical search out of the box.</li>
        <li><b><a href="https://developers.google.com/appengine/docs/python/prospectivesearch/">Prospective Search</a> <span class="red">(experimental)</span></b> &ndash; Analyze a real-time feed of documents and be notified when anything matches one of your searches.</li>
      </ul>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image: url(images/visuals/shuttle.jpg)">
    <hgroup>
      <h2 class="white">Take your app to the next level</h2>
    </hgroup>
    <footer class="source gray">http://www.flickr.com/photos/msimdottv/4339697089</footer>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="images/appsterdamlogo128.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Time for a Challenge</h2>
      <h3>Using the Search API to build a map-based application</h3>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Advanced Search</h2>
    </hgroup>
    <article>
      <ul>
        <li>Using the Search API, build a location aware system.</li>
        <li>Search for all the points that are closer than 10km from my position.</li>
        <li>Run a full text search on the items descriptions.</li>
      </ul>
    </article>
  </slide>

  <slide class="thank-you-slide segue nobackground">
    <aside class="gdbar right"><img src="images/appsterdamlogo128.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <h2>&lt;Thank You!&gt;</h2>

    </article>
    <p class="auto-fadein" data-config-contact>
      <!-- populated from slide_config.json -->
    </p>
  </slide>

  <slide class="backdrop"></slide>

</slides>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41952855-1', 'abahgat.github.io');
  ga('send', 'pageview');
</script>

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
